<header>
    <div class="header-left">
        <div class="logo"></div>
        <h3>WaveRunners</h3>
    </div>
    <input type="text" name="search" id="search" placeholder="Busca productos">
    <div class="header-right">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
        <div class="avatar"></div>
        <i class="fas fa-bars"></i>
    </div>
</header>