<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main class="main-error">

                <img src="/images/404.gif" alt="404" width="100%" class="error-image">

                <%- include('partials/bannerFinal') %>

            </main>

            <%- include('partials/footer') %>
            <script src="/js/mobileMenu.js"></script>
    </body>

</html>