<!DOCTYPE html>
<html lang="en" >


    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    
    <main>
        <section class="FAQ-main">
        <h1>Preguntas frecuentes</h1>

        <h2>> ¿QUÉ MEDIOS DE PAGO ACEPTAN?</h2>
        <p> Aceptamos todas las tarjetas de crédito o débito, de cualquier banco. También aceptamos pago en efectivo
            imprimiendo tu cupón para pagarlo en PagoFácil o RapiPago. Procesamos todas nuestras ventas con MercadoPago,
            por lo tanto los pagos son 100% seguros. Para más detalles sobre la forma de pago, hace click acá.</p>

        <h2>> ¿A DÓNDE REALIZAN ENVÍOS?</h2>
        <p> Realizamos envíos a todo el territorio de la República Argentina a través de Expreso BRIO o Correo
            Argentino, según el destino.</p>

        <h2>> CAMBIOS Y DEVOLUCIONES</h2>
        <p> Desde Relojes Rönin deseamos que tu experiencia de compra sea satisfactoria, por eso, ante cualquier
            inconveniente con el producto, tendrás hasta 6 meses para poder solicitar un cambio y/o reembolso del mismo.
        </p>

        <h2>> ¿CÓMO ME ENTERO DE LAS NOVEDADES?</h2>
        <p> Para cupones de descuento, promociones y nuevas colecciones inscribite a nuestro Newsletter.</p>

        <h2>> SOBRE RELOJES RONIN</h2>
        <p> Relojes Rönin es una compañía familiar de 65 años de trayectoria en la producción y comercialización de
            relojes. Trabajamos todos los días para poder confeccionar productos de calidad, sofisticados, y que
            acompañen a sus dueños durante muchos años.
        </p>

    </section>
    
        <%- include('partials/bannerFinal') %>
        </main>

   <%- include('partials/footer') %>
   <script src="/js/mobileMenu.js"></script>
</body>

</html>