*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*-----MAIN-----*/

main{
    padding-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.images-second{
    display: none;
}

.images-first{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.images-first img{
    padding: auto;
    width: 100%;
    max-width: 400px;
}

.product-name{
    font-size: 2em;
    color: #395ca4;
}

.product-price{
    font-size: 3em;
    color: #395ca4;
}

/*-----FORMULARIO-----*/

.product-form-title{
    border-top: 1mm solid #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #395ca4;
}

.product-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

main section article form select{
    border: 1mm #d8d8d8 solid;
    margin: 10px 0px 10px 15px;
}

.product-buttons{
    display: flex;
    flex-direction: column;

}

.product-buttons button{
    color: #FFFFFF;
    background-color: #232f47;
    border: 1mm solid #232f47;
    border-radius: 20px;
    padding: 7px;
    margin: 10px;
    transition: all 0.5s;
}

/*-----DESCRIPCION-----*/

.product-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

section article div i{
    color: #1DA1F2;
    font-size: 40px;
}

.fa-facebook-f{
    color: #4267B2;
    font-size: 40px;
}

.fa-whatsapp{
    color: #25D366;
    font-size: 40px;
}

.product-info-title{
    padding: 10px 10px 0px 10px;
    background-color: #d8d8d8;
    color: #395ca4;
}

.product-info{
    background-color: #d8d8d8;
    padding: 10px;
}



/*-----EDITAR-PRODUCTO-----*/

.edit-bottom{
    margin: 40px auto;
    max-width: 30%;


}

/*-----PRODUCTOS-RELACIONADOS-----*/

.product-related-title{
    font-size: 2em;
    padding-top: 10px;
    color: #395ca4;
}

.product-related{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.product-related-son{
    display: flex;
    flex-flow: column wrap;
    max-width: 200px;
    align-items: stretch;
    text-align: center;
}

.product-related img{
    max-width: 100%;
}

.related-name{
    font-size: 24px;
    color: #395ca4;
}

.related-price{
    font-size: 20px;
    color: #395ca4;
}


/*-----FOOTER-----*/

footer {
    background-color: var(--footer-gray);
    padding: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.footer-left ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.footer-right a {
    margin-left: 10px;
}

/*-----HOVER-----*/

.product-buttons button:hover{
    background-color: #395ca4;
    border: 1mm solid #395ca4;
}

/*-----MEDIA-QUERRY-----*/



@media (min-width: 769px){
    *{
        font-size: 1em;
    }

    main{
        max-width: 1200px;
        padding: 50px 5vw 0 5vw;
        margin-left: auto;
        margin-right: auto;
    }

    .product{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .product-images{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .images-first{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    
    .images-second{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .images-second img{
        padding: auto;
        width: 100%;
        max-width: 132px;
    }
}

