.contenedor-detalle-producto {
    margin-top: 170px !important;
}

section.producto-detalle div {
    margin: 4%;
    margin: auto;
    justify-content: start;
    margin-bottom: 15px;
}

section.producto-detalle {
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 51px; */
}

.producto-detalle a {
    text-decoration: none;
}

section.producto-detalle h4 {
    margin: 15px 0 15px 0;
}

div.contenedor-productos-similares h4 {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 1rem;
}

article.contenedor-fotos {
    margin-bottom: 10%;
    z-index: 0;
}

article.contenedor-fotos img {
    width: 100%;
}

article.contenedor-fotos div.nombre-producto,
article.contenedor-fotos div.precio-producto {
    font-weight: bold;
    font-size: 1.5rem;
}

.cantidadProducto {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.cantidadProducto label {
    font-weight: bold;
}

input#contador-cantidad-unidades {
    border: 3px lightgray solid;
    border-radius: 5px;
    max-width: 50px;
    max-height: 50px;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    outline: none;

}

.descripción-artículo p {
    display: flex;
    font-style: italic;
}

.descripción-artículo li {
    margin-top: 8px;
}

.componentes-artículo p {
    display: block;
}

.componentes-artículo li {
    margin-top: 8px;
}

.contendor-descripciones {
    padding-left: 25px;
    background-color: #f5f5f5;
    border-radius: 7px;
    border: 7px solid #f5f5f5;
}

article.descripción-producto button.add,
article.descripción-producto button.favorite,
article.descripción-producto button.share {
    margin: auto;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 1rem;
    padding: 2%;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: #12784A;
    transition: all 450ms;
    border: none;
    cursor: pointer;
}

article.descripción-producto button.add:hover,
article.descripción-producto button.favorite:hover,
article.descripción-producto button.share:hover {
    background-color: #14583a;

}

.productos-similares {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}

.producto-similar1,
.producto-similar2,
.producto-similar3,
.producto-similar4 {
    position: relative;
}

.producto-similar1 div.nombre-producto,
.producto-similar2 div.nombre-producto,
.producto-similar3 div.nombre-producto,
.producto-similar4 div.nombre-producto {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    left: 0;
    bottom: 2.1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 450ms;

}

.producto-similar1 div.precio-producto,
.producto-similar2 div.precio-producto,
.producto-similar3 div.precio-producto,
.producto-similar4 div.precio-producto {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 1s;
}

.producto-similar1:hover div.precio-producto,
.producto-similar2:hover div.precio-producto,
.producto-similar3:hover div.precio-producto,
.producto-similar4:hover div.precio-producto,
.producto-similar1:hover div.nombre-producto,
.producto-similar2:hover div.nombre-producto,
.producto-similar3:hover div.nombre-producto,
.producto-similar4:hover div.nombre-producto {
    opacity: 1;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

/*Carrousel de imagenes*/

.diapositivas {
    display: block;
}

img {
    vertical-align: middle;
}

/* contenedor de diapositivas */
.contenedor-carrousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Botones de anterior y próximo */
.anterior,
.próximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posicion del boton proximo a la derecha */
.próximo {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Cuando se hace hover, agregar un fondo negro en el boton */
.anterior:hover,
.próximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Texto de la diapositiva */
.nombre-producto {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.precio-producto {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Texto de numero (1/3 etc) */
.numero {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Puntos/bullets/indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Animacion de fadding */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@media(min-width: 768px) {
    .contenedor-detalle-producto {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .productos-similares {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*section.producto-detalle {
    margin-top: 130px;
}*/
    /*media cuerri del login*/
    .caraDelLogin {

        font-size: 35px;
    }

    /* section.producto-detalle {
    margin-top: 140px;
} */

    .descripción-producto {
        width: 700px;
        margin: auto;
    }

    article.contenedor-fotos img {
        width: 100%;
        max-width: 500px;
        transition: all 0.6s ease-in-out;
    }

    article.contenedor-fotos img:hover {
        border-radius: 50%;
        /*border: lightgray 1px solid;*/
        transform: scale(1.5);
        z-index: 0;
    }

}