<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../styles/admin.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Backoffice</title>
</head>
<body>
    <nav>
        <h3>Waverunners</h3>
        <ul>
            <li><i class="fas fa-archive"></i>Productos</li>
            <li><i class="fas fa-user"></i>Usuarios</li>
            <li><i class="fas fa-shopping-bag"></i>Ventas</li>
        </ul>
    </nav>
    <main>
        <div class="indicators">
            <div class="indicator">
                <p class="indicator-title">Total de Productos</p>
                <p class="kpi">15</p>
            </div>
            <div class="indicator">
                <p class="indicator-title">Total de Usuarios</p>
                <p class="kpi">15</p>
            </div>
            <div class="indicator">
                <p class="indicator-title">Total de Ventas</p>
                <p class="kpi">15</p>
            </div>
        </div>
    </main>
</body>
</html>