<section class="bannerFinal">
    <div class="bannerFinalPartes">
        <i class="fas fa-truck"></i>
        <div class="titulo-p">
        <h2>ENVIAMOS TU COMPRA</h2>
        <p>Entregas en todo el país</p>
        </div>
    </div>
    <div class="bannerFinalPartes" id="bannerFinal2">
        <i class="far fa-credit-card"></i>
        <div class="titulo-p">
        <h2>PAGÁ COMO QUIERAS</h2>
        <p>Tarjetas de crédito o efectivo</p>
        </div>
    </div>
    <div class="bannerFinalPartes" id="bannerFinal1">
        <i class="fas fa-lock"></i>
        <div class="titulo-p">
        <h2>COMPRÁ CON SEGURIDAD</h2>
        <p>Tus datos siempre protegidos</p>
        </div>

    </div>
</section>