<footer>

    <section class="section1">

        <div class="FAQ">
            <h2>Atención al cliente</h2>
            <ul>
                <li><a href="/FAQ">Preguntas frecuentes</a></li>
                <li><a href="/FAQ">Envíos y retiros</a></li>
                <li><a href="/FAQ">Newsletter</a></li>
                <li><a href="/FAQ">Cambios y devoluciones</a></li>
            </ul>
        </div>
        <div class="contacto">
            <h2>Contacto</h2>
            <a name="ancla-1"></a>
            <address class="mail">
                <p>inforonin@gmail.com</p>
                <br>
                <p>011-345081915</p>
            </address>
            <div class="iconosSociales">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"> <i class="fab fa-twitter-square"></i></a>
                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="mediosDePago">
            <h2>Medios de pago</h2>
            <div class="ahora12">
                <p>Ahora 12 y Ahora 18</p>
            </div>
            <div class="iconosPago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="derechosR">
            <p>© 2021 R o n i n</p>
        </div>

    </section>
</footer>