<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Relojería especializada en relojes orientales. Llevamos trabajando en el rubro 85 años. Calidad y mejor precio asegurado">
    <meta name="keywords" content="Relojes, Ronin, Relojería">
    <meta name="author" content="LosPicateclas">
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="icon" href="/images/designImages/Ronin-logo-icon.ico">
    <title>Relojes Ronin</title>
    <meta property="og:title" content="Relojes Ronin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://relojesronin.herokuapp.com" />
    <meta property="og:image" content="http://localhost:3000/products/productDetail/3" />
    <meta property="og:description" content="Encontrá los mejores diseños del mercado. Calidad asegurada." />
    
    <title>Relojes Ronin</title>
</head>