<header>

    <section class="topMenu">
        <a href="/"><img src="/images/designImages/Logo-Ronin.png" alt="Logo Ronin"></a>

        <div class="contenedorIconos">
            <div class="ContenedorBuscador">
                <form class="buscador" action="#">
                    <input type="text" placeholder="Buscar" name="search">
                    <button type="submit" class="buttonSearch"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul class="logged">
                <div class="loggedImage">
                    <% if(locals.isLogged){ %>
                        <li>
                            <button type="submit" class="buttonSearch"><i class="fa fa-search"></i></button>
                            |
                            <a href="/user/productCart"><i class="fas fa-shopping-cart"></i></a>

                            <a href="/user/profile"><img src="/images/avatars/<%= locals.userLogged.avatar %> "
                                    alt="imagen de perfil" width="100%" style="border-radius: 100%;">

                                <!-- <div class="saludo"> Hola <%= locals.userLogged.first_name %>! </div> -->

                            </a>
                        </li>
                        <!-- <li><a href="/user/logout">Logout</a></li> -->

                </div>

                <% }else{ %>

                    <!-- <h1>HOLA</h1> -->
                    <button type="submit" class="buttonSearch"><i class="fa fa-search"></i></button>
                    <a href="/user/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/user/login"><i class="fas fa-user-circle"></i></a>
                    <div class="burger-menu">

                        <button class="triggerButton" id="trigger">
                            <i class="fas fa-bars" id="bars"></i>

                        </button>
                        <nav id="mobileNav" class="nav-barNone styleMobileNav">
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="#ancla-1">Contacto</a></li>
                                <li><a href="/FAQ">Preguntas frecuentes</a></li>
                                <li><a href="/admin">Stock de productos</a></li>
                            </ul>
                        </nav>
                    </div>



                    <% } %>
            </ul>
        </div>

    </section>

    <section class="bottom-menu">

        <nav class="nav-bar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#ancla-1">Contacto</a></li>
                <li><a href="/FAQ">Preguntas frecuentes</a></li>
                <li><a href="/admin">Stock de productos</a></li>
            </ul>
        </nav>


    </section>


</header>