<article class="productos-similares">
    <a href="/productDetail/<%= product.id %> "><div class="producto-similar1">
        <img src="/images/<%= product.image %>" style="width: 100%">
        <div class="nombre-producto"><%= product.nombre %></div>
        <div class="precio-producto">$<%= product.precio %></div>
    </div></a>
   </article>